documentation/documentation.aux
documentation/documentation.fdb_latexmk
documentation/documentation.fls
documentation/documentation.log
documentation/documentation.out
documentation/documentation.synctex.gz
documentation/documentation.toc
